.Cadastro{
    background-color: var(--banner-color);
    width:  380px;
    height: 260px;
    border-radius: 10px;
    margin: 33px 93px 32px 240px;
    color:var(--cadastro-texto-color);
    

    &__titulo{
        font-size: 18px;
        font-weight: 300;
        margin: 40px auto 15px 29px;
    }
    
    &__input{
        width: 230px;
        height: 45px;
        border-radius: 4px;
        border-color: var(--footer-color);
        margin: 0 9px 40px 40px;
        padding-left: 25px;
        color: var(--input-color);
       
    }

    &__input::placeholder{
       color: var(--input-color);
    }

    &__button{
       width: 62px;
        height: 45px;
        background-color: var(--highlight-color);
        border-radius: 4px;
        color: var(--banner-color);
        border-style: none;
       
    }


    &__button:hover{
        background-color: var(--banner-color);
        color: var(--highlight-color);
        cursor: pointer;
        border-style: dashed;
    }

    }

    
    p{
        font-size: 12px;
        text-align: center;
        font-weight: 300;
        margin: 0 34px 31px 36px;
    }

    
       