@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

:root {
/*colors*/
--highlight-color: #F71963;
--menu-text-color: #9F9F9F;
--line-color: #F0F0F0;
--input-color: #F6F5F2;
--banner-color: white;
--hover-button: black;
--tags-background: #F4F4F4;
--footer-color: #2A2A2A;
--cadastro-texto-color: #3F3F40;
--input-color: #C0C0C0;




/*fonts*/
--font: 'Poppins', sans-serif;
}

body{
  font-family: var(--font);
}
