@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,900&family=Poppins:wght@300;500;600;700;900&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

:root {
/*colors*/
--highlight-color: #F71963;
--menu-text-color: #9F9F9F;
--line-color: #F0F0F0;
--input-color: #F6F5F2;
--banner-color: white;
--hover-button: black;
--tags-background: #F4F4F4;
--footer-color: #2A2A2A;
--cadastro-texto-color: #3F3F40;
--input-color: #C0C0C0;
--borda-produtosTag: #BDBDBD;
--texto-produtosTag: #3B3B3B;
--linha-color: #DEDEDE;
--preco-color: #808080;
--modal-color: #041E50;
--modal-descricao: #222222;





/*fonts*/
--font: 'Poppins', sans-serif;
--font-modal: 'Lato', sans-serif;
}

body{
  font-family: var(--font);
}
