.Banner{
    background:  linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #000000 85%), url('./banner.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 395px ;
    margin: 0;
  
    &__h1{
        color: var(--banner-color);
        font-size: 48px;
        font-weight: 600;
        text-align: left;
        width: 822px;
        margin-left: 96px;
        padding-top: 52px;
    }

    &__h2{
        color: var(--banner-color);
        margin: 16px auto 35px 96px;
        font-size: 36px;
       
    }

    &__button{
        padding: 16px 63px 17px 55px;
        background-color: var(--highlight-color);
        border-radius: 5px;
        color: var(--banner-color);
        font-size: 18px;
        font-weight: 600;
        margin: 0 auto 50px 96px;

    }

    &__button:hover{
        background-color: var(--banner-color);
        color: var(--highlight-color);
        cursor: pointer;
    }
}


/*Banner {
    position: relative;

    &__h1{
    margin-left: 32rem;
    margin-top: -18rem;
    transform: translate(-50%, -50%);
    color: var(--banner-color);
    font-size: 48px;
    font-weight: 600;
    width: 822px;
    z-index: 1;
    }

    &__h2{
        position: absolute;
        top: 46%;
        left: 12%;
        transform: translate(-50%, -50%);
        color: var(--banner-color);
        font-size: 36px;
        font-weight: 600;
        z-index: 1;
          
    }

    &__img {
        position: relative;
        z-index: -2;
        width: 100%;
  }
}
  
  .Banner::before {
    content: "";
    position: absolute;
    
    width: 100%;
    height: 416px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #000000 85%);
    z-index: -1;
  }
  

  
 
  

  
  
  
  .Banner__button {
    /* Adicione seu estilo de botão aqui */

 